<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white p-4">
    <div class=" bg-zinc-700 rounded-lg p-4 mb-4">
        <h1 class="text-center text-4xl mb-4"><%=filename.split('.')[0]%></h1>
        <h1 class="text-2xl"><%=filedata%></h1>
        
    </div>
    <a href="/"  class="text-xl text-blue-600">Go back</a>
    <!-- <h3>kaise ho</h3> -->
</body>
</html>